<div class="w-full">
  <mat-form-field class="example-chip-list">
    <mat-label>{{ formConfig()?.title }}</mat-label>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      @for (fruit of selectedChips(); track $index) {
        <mat-chip-row (removed)="remove(fruit)">
          {{ fruit }}
          <button matChipRemove [attr.aria-label]="'remove ' + fruit">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      name="textValue"
      placeholder=""
      #fruitInput
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event); fruitInput.value = ''"
    >
      @for (fruit of filteredChipList(); track fruit) {
        <mat-option [value]="fruit">{{ fruit }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
