<div class="container flex">
  <div class="w-1/2 p-5">
    <app-form-generator
      [inputformGroup]="formGroup"
      [formConfig]="formConfig"
    ></app-form-generator>
    <div class="w-full">
      <button
        class="rounded-full text-sm border border-orange-500 hover:bg-orange-500 transition-colors hover:text-white h-10 w-28"
      >
        Edit Profile
      </button>
    </div>
  </div>
  <div class="w-1/2 p-5">
    <app-form-generator
      [inputformGroup]="resetFromGroup"
      [formConfig]="resetPwdConfig"
    ></app-form-generator>
    <div class="w-full">
      <button
        class="rounded-full text-sm border border-orange-500 hover:bg-orange-500 transition-colors hover:text-white h-10 w-48"
      >
        Change Password
      </button>
    </div>
  </div>
</div>
