#general div mat-form-field{
    width: 100%;
}

.half {
    flex: 1 1 49%;
}

.one-third{
    flex: 1 1 32%; 
}

.full {
   flex: 1 1 100%;
}

.icon-btn {
    height: 18px;
    width: 18px;
}

.icon-complete{
    height: 20px;
    width: 20px;
}