<div class="bg-black w-screen">
    <div class="w-screen h-[500px] bg-[url('https://themewagon.github.io/gymlife/img/breadcrumb-bg.jpg')] flex items-center justify-center mb-20">
        <div>
            <p class="text-6xl w-full text-orange-500 text-center">Classes detail</p>
            <p class="text-xl w-full text-white text-center">Home > Classes > Body building</p>
        </div>
    </div>
    <div class="w-1/2 m-auto ">
       
        <div class="w-full text-white">
            <div class="w-full">
                <img src="https://themewagon.github.io/gymlife/img/classes/class-details/class-detailsl.jpg">
            </div>
            <h1 class=" text-4xl mt-3">Body buiding</h1>
            <p class="mt-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                 Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua accusantium 
                 doloremque laudantium. Excepteur sint occaecat cupidatat non proident sculpa.
            </p>
            <h1 class="text-4xl mt-3">Trainer</h1>
            <p class="mt-3">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur officia deserunt mollit.
            </p>
            <div class="flex  mt-3">
                <div class="flex">
                    <img src="https://themewagon.github.io/gymlife/img/classes/class-details/trainer-profile.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

